body {
  font-family: Arial, Helvetica, sans-serif;
}

footer {
  margin:0;
  padding: 5%;
  text-align: center;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

input[type=number], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}
             
label {
  margin: 5px 0 0 5px;
  padding: 12px 12px 12px 0;
  display: inline-block;
} 

/* Buttons */
.button, a.button, button, [type=submit], [type=reset], [type=button] {
  -webkit-appearance: none;
  display: inline-block;
  border: 1px solid #535253;
  border-radius: 4px;
  background: #535253;
  color: #ffffff;
  font-weight: 600;
  font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 1rem;
  text-transform: none;
  padding: .75rem 1.25rem;
  margin: 0 0 .5rem 0;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  line-height: 1;
}
  
.button:hover, a.button:hover, button:hover,
[type=submit]:hover, [type=reset]:hover, [type=button]:hover {
  border: 1px solid #7a7a7a;
  background: #7a7a7a;
  color: #ffffff;
  text-decoration: none;
}
  
.button:focus, .button:active,
a.button:focus, a.button:active,
button:focus, button:active,
[type=submit]:focus, [type=submit]:active,
[type=reset]:focus, [type=reset]:active,
[type=button]:focus, [type=button]:active {
  border: 1px solid #7a7a7a;
  background: #7a7a7a;
  color: #ffffff;
  text-decoration: none;
}
  
.button::-moz-focus-inner, a.button::-moz-focus-inner, button::-moz-focus-inner,
[type=submit]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=button]::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.add-button {
  border: 1px solid #535253;
  border-radius: 4px;
  background: #535253;
  color: #ffffff;
  padding: .75rem 1.25rem;
  margin: 0 10px 0 0;
}

.cancel-button {
  background:transparent ;
  border: 1px solid #cdcdcd;
  color: #4e4e4e;
  padding: .75rem 1.25rem; 
  margin: 0 0 0 10px;
}
  
.delete-button {
  background: #ffffff;
  border: 1px solid #ff0000;
  color: #ff0000; 
  padding: .75rem 1.25rem; 
  margin: 5px;
}

.delete-button:hover {
  background: #ff0000;
  border: 1px solid #ff0000;
  color:#ffffff;
  cursor: default;
  pointer-events: auto;
}

.edit-button {
  background:transparent;
  border: 1px solid #cdcdcd;
  color: #4e4e4e;
  padding: .75rem 1.25rem; 
  margin: 5px;
}

/* Container */
.container, .small-container, .medium-container {
  max-width: 1200px;
  padding: 0 1rem;
  margin-left: auto;
  margin-right: auto; 
}

.container {
  border-radius: 5px;
  background-color: #f2f2f262;
  padding: 20px;
}

  /* Grid */
.flex-large {
  flex-basis: 100%;
  margin-bottom: 1rem; 
  padding-left: 1rem;
  padding-right: 1rem; 
}

/* Large screen breakpoint */
@media (min-width: 1000px) {
  .flex-large {
    flex: 1;
    margin-bottom: 0; 
  } 
}                 

/* Pointers */    
.pointTypeInit {
  cursor: initial;
}

.poinTypePoint {
  cursor:pointer;
}

/* Tables */
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  max-width: 100%; 
}
  
thead th {
  border-bottom: 2px solid #dedede; 
}
  
tfoot th {
  border-top: 2px solid #dedede; 
}
  
td {
  border-bottom: 1px solid #dedede; 
}
  
th, td {
  text-align: left;
  padding: .5rem; 
}
